/* Omat tyylimääritykset */
html{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  height:100% ;
}

body {
 /* background-color: #f3f3f3;*/
 height:100% ;
 min-height: 100vh;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 18px;
  font: Arial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('etc/tausta.jpg');
  background-position: top center;
 /* overflow-x:hidden;*/
  position:relative;
  /*overflow: hidden;*/
  
}

ul {
  top: 0%;
  width: 100%;
  background-color: #dddddd;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: none;
}
.active {
  background-color: #424242;
}
nav {
  list-style-type: none;
  margin:0;
  padding:0;

  background-color: #333;
  position:fixed;
  top: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.img_icon {
  margin-right: 10px;
  max-height: 32px;
  max-width: 32px;
}
.empty {
  height: 50px;
  width: 100%;
}
.empty2 {
  height: 60px;
  width: 100%;
}

.containeri {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
}

.image-link {
  border: none;
  text-decoration: none ;
}

.footers {
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
  position:absolute;
}
@media screen 
  and (min-width: 500px) 
  and (max-width: 800px){
#testi { width: 100%}

}
