/* Omat tyylimääritykset */

body {
  background-color: #20c997;
  height: 100%;
  font-style: italic;
}

ul {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #dddddd;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: none;
}
.active {
  background-color: #04aa6d;
  visibility: hidden;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

body {
  margin: 0;
  padding: 0;
}

.img_icon {
  margin-right: 10px;
  max-height: 32px;
  max-width: 32px;
}
