/* Omat tyylimääritykset */

body {
    background-color: #20c997;
    height: 100%;
    font-style: italic;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dddddd;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
.active {
  background-color: #04AA6D;
	visibility: hidden
}
