/* Omat tyylimääritykset */
html{
  margin:0;
  padding:0;
  height:100%;
  overflow-x:hidden;
}

body {
  margin:0;
  padding:0;
  height:100%;
  font-style: normal;
  font-size: 18px;
  font: Arial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('etc/tausta.jpg');
  background-position: top center;
}
#container {
  min-height:100%;
  position:relative;
}
#header {
  background:#333;
  padding:10px;
}
#body {
  padding:10px;
  padding-bottom:60px;	/* Height of the footer */
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;			/* Height of the footer */
  background:#6cf;
}
/* other non-essential CSS */
#header p,
#header h1 {
  margin:0;
  padding:10px 0 0 10px;
}
#footer p {
  margin:0;
  padding:10px;
}

li {
  border-right: 1px solid #bbb;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: none;
}
.active {
  background-color: #424242;
}
nav {
  list-style-type: none;
  margin:0;
  padding:0;

  background-color: #333;
  position:fixed;
  top: 0;
  width: 100%;
}